services:
  mongo:
    image: mongo:6
    container_name: resq-mongo
    command: --replSet rs0 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: "test $$(echo \"rs.initiate({_id:'rs0',members:[{_id:0,host:'mongo:27017'}]}).ok || rs.status().ok\" | mongosh --quiet) -eq 1"
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 5s

  redis:
    image: redis:alpine
    container_name: resq-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo_data:
  redis_data:
